
<h1><img src="/images/logoEmisha.png" />Bienvenido</h1>
<p>Tus datos para entrar a nuestra plataforma son:</p>
<br>
<ul>
    <li>Nombre: {{obj.name}}</li>
    <li>Email: {{obj.email}}</li>
    <li>Password: {{obj.password}}</li>
</ul>
<br>
<p>Una vez que ingreses puedes cambiar tu contraseña si lo deseas.</p>
