<h1>Bienvenido a Emisha</h1>
<p>Tus datos para entrar a nuestra plataforma son:</p>
<br>
<ul>
    <li>Nombre: {{obj.name}}</li>
    <li>Email: {{obj.email}}</li>
    <li>Password: {{obj.password}}</li>
</ul>
<br>
<p>Nota: antes de ingresae por primera vez debes activar tu cuenta.Para activarla da click <a href="{{obj.endpoint}}">aqui.</a></p>
