
<h1><img src="https://github.com/AleOchoa/Cartera/blob/master/backend/public/images/logoEmisha.png?raw=true" />Bienvenido</h1>
<p>Tus datos para entrar a nuestra plataforma son:</p>
<br>
<ul>
    <li>Nombre: {{obj.name}}</li>
    <li>Email: {{obj.email}}</li>
    <li>Password: {{obj.password}}</li>
</ul>
<br>
<p>Para ingresar a la plataforma da click <a href="https://carteraemisha.netlify.com/">aquí.</a></p>
<br>
<p>No compartas tus credenciales con nadie. </p>
<br>
<p>Para cambiar tu contraseña ponte en contacto con el administrador.</p>
